@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2e8f0;
  --foreground: #111827;
  --primary: #FABF22;
  --primary-dark: #d1a82c;
  --secondary: #4a5568;
  --error: #ef4444;
  /* rojo para errores */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #e2e8f0;
    --primary: #FABF22;
    --primary-dark: #d1a82c;
    --secondary: #4a5568;
    --error: #f87171;
    /* rojo claro para dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono Variable', monospace, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}